@font-face {
  font-family: 'GangwonEdu_OTFLightA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFLightA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
}

.AllBox {
  height: 100vh;
  overflow: hidden;
  position: relative;

  font-family: 'GangwonEdu_OTFLightA';

}

.box {
  width: 100%;
  height: 100%;
  position: absolute;

  text-align: center;
  display: table;
}

.ExplanationBox {
  display: table-cell;
  vertical-align: middle;
  text-align: center;

  background: url("/images/entrance-background-1.jpg") center;
  background-size: cover;
}

.NoticeBox {
  display: table-cell;
  vertical-align: middle;
  text-align: center;

  background: url("/images/entrance-background-2.jpg") center;
  background-size: cover;
}

.InQuizBox {
  display: table-cell;
  vertical-align: middle;
  text-align: center;

  background: url("/images/entrance-background-3.jpg") center;
  background-size: cover;
}

.inBox {
  background-color: white;
  padding: 20px;
  margin: 0 auto;
}

.title {
  font-size: min(6vw, 25px);
  font-weight: bolder;
  color: #e9639e;
}

.text {
  font-size: min(3vw, 15px);
}
