@font-face {
  font-family: 'GangwonEdu_OTFLightA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFLightA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;

  width: 100vw;
  height: 100vh;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.titleBox {
  font-family: 'GangwonEdu_OTFLightA';
  font-size: 4vmin;
  text-align: center;

  width: 100%;
  height: 10vh;

  margin: 2.5vh 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
}

.mainBox {
  width: 90vw;
  height: 85vh;

  overflow: hidden;

  margin: 0 auto;
}

.circle {
  border-radius: 99999px;
  position: absolute;

  background: black;

  display: flex;
  justify-content: center;
  align-items: center;
}

.figure {
  width: 5vmin;
  object-fit: contain;

  position: absolute;

  z-index: -1;
}


/*네모 박스*/
.container {
  position: fixed;

	left: 0;

	width: 100%;
	height: 100%;

	display: flex;
  flex-direction: column;

	z-index: 20;
	pointer-events: none;
}

.tile {
  position: relative;

  height: 100%;
	width: 0%;
}

/*이벤트 버튼*/
.eventBox, .buttonBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
	height: 100%;
  
  font-family: 'GangwonEdu_OTFLightA';
}

.eventLabel {
  font-size: 3vmin;
  color: black;
  text-align: center;

  height: 20vmin;
  line-height: 5vmin;
}

.idBox {
  display: flex;
  position: relative;

  overflow: hidden;
}

.eventId {
  font-size: 3vmin;
  color: gray;

  border-bottom: 1px dotted gray;
  
  margin: 10vmin 0;
  padding: 0 10vmin;

  cursor: pointer;

  box-sizing: border-box;
}

.idCover {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
}

.eventButton {
  font-family: 'GangwonEdu_OTFLightA';
  font-size: 3vmin;
  text-align: center;
  color: white;


  padding: 3vmin 10vmin;

  border: none;
  border-radius: 999999px;

  background-color: #f3cadc;

  cursor: pointer;
}

#canvas {
  position: absolute;
  pointer-events: none;
}
