@font-face {
  font-family: 'GangwonEdu_OTFLightA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFLightA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;

  width: 100vw;
  height: 100vh;

  overflow: hidden;
}

.mainBox {
  width: 100%;
  height: 100%;

  overflow: hidden;

  position: absolute;
}

.circle {
  border-radius: 99999px;
  position: absolute;

  background: black;

  display: flex;
  justify-content: center;
  align-items: center;
}

.figure {
  width: 5vmin;
  object-fit: contain;

  position: absolute;

  z-index: -1;
}


/*네모 박스*/
.container {
  position: fixed;

	left: 0;

	width: 100%;
	height: 100%;

	display: flex;
  flex-direction: column;

	z-index: 20;
	pointer-events: none;
}

.tile {
  position: relative;

  height: 100%;
	width: 0%;
}